:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
}

* {
  @apply p-0 m-0 box-border;
}

.slidev-layout.default,
.slidev-layout.center,
.slidev-layout.two-cols,
.slidev-layout.text-image-split {
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold text-slate-800;
  }
  h1 {
    @apply text-4xl mt-6 mb-8;
  }
  h2 {
    @apply text-3xl mt-6 mb-8;
  }
  h3 {
    @apply text-2xl mt-6 mb-8;
  }
  h4 {
    @apply text-xl mt-6 mb-8;
  }
}

.slidev-layout.cover {
  h1 {
    @apply text-4xl font-semibold text-slate-800 my-0;
  }
  h2 {
    @apply text-xl uppercase text-blue-[#93C7FF] font-regular mt-2;
  }
  h1,
  h2 {
    code {
      @apply bg-slate-700 text-slate-200;
    }
  }

  /* CAREFUL: Styles have only been defined for h1 and h2 */
}

/* Dark mode styles for cover */
html.dark .slidev-layout.cover {
  h1 {
    @apply text-white;
  }
  h2 {
    @apply text-blue-[#93C7FF];
  }
}

/* Layout styles */
.slidev-layout {
  @apply px-14 py-10 text-[1.1rem] h-full;
}

/* List styles */
.slidev-layout ul {
  @apply text-2xl leading-10;
}

.slidev-layout ul li {
  @apply mb-2;
}

.slidev-layout ul li a {
  @apply text-blue-500 no-underline hover:underline;
}

.slidev-layout p {
  @apply mb-4 leading-6;
}

.slidev-layout ul {
  list-style: disc;
}

.slidev-layout ol {
  list-style: decimal;
}

.slidev-layout ul,
.slidev-layout ol {
  @apply ml-4 mb-4;
}

.slidev-layout a {
  @apply underline decoration-dashed !border-0 underline-offset-1 decoration-2 font-medium text-blue-[#3070b3] hover:!decoration-solid;
}

.slidev-layout img {
  @apply rounded-md;
}

.slidev-layout p,
.slidev-layout h1,
.slidev-layout h2,
.slidev-layout h3,
.slidev-layout h4,
.slidev-layout ol,
.slidev-layout ul {
  code {
    @apply bg-[#e9eef4] px-1 text-slate-800 font-bold;
  }
}

.slidev-layout code::before,
.slidev-layout code::after {
  @apply hidden;
}

html.dark .slidev-layout {
  h1 {
    @apply text-gray-100;
  }

  h2,
  h3 {
    @apply text-gray-200;
  }

  p,
  li {
    @apply text-gray-300;
  }
}

/* Quote styles */
.slidev-layout blockquote {
  @apply border-l-4 border-gray-300 pl-4 py-2 my-4 text-gray-700;
  margin-left: 0;
  margin-right: 0;
}

.slidev-layout blockquote p {
  margin: 0;
  line-height: inherit;
}
